{% extends "layout.html" %}

{% block title %}QueryR API{% endblock %}

{% block content %}
{% markdown %}

# QueryR

**QueryR** is a REST compliant webservice for accessing information stored in
[Wikidata](https://www.wikidata.org).

It is uses the free and open source
[QueryR API](https://github.com/JeroenDeDauw/QueryrAPI) software, which can
more generally be used to access [Wikibase](http://wikiba.se/) information.

You can find the API's root endpoint at [{{ api_url }}](http://{{ api_url }}).

## Stability

The QueryR service is still **in development**. **No guarantees** about its availability or stability are
provided. Do not rely on this service and **do not use it in production**.

At this point we are looking for input and
[welcome your feedback](https://github.com/JeroenDeDauw/QueryrAPI/issues).

## Differences with the Wikidata web API

Advantages:

* REST API with resources, HTTP verbs and hypermedia controls (maturity model level 3)
    * More intuitive use
    * Decreased binding of your client to the API
    * Self-documenting
    * Standards compliant
* Use-case orientated approach rather than one-size-fits-all
    * Much simpler formats
    * Much more stable formats
    * Faster and cheaper to retrieve formats due to much smaller size
* Denormalization and inclusion of referenced data
    * No need to make additional requests to understand the requested data

Disadvantages:

* Data access only, no ability to write back data
* Not directly connected to the Wikidata persistence, so results might not be as fresh

## Development status and plans

Many things can be done, input is needed for prioritization. Similarly, input is needed to
decide on [basic questions](https://github.com/JeroenDeDauw/QueryrAPI/issues?utf8=✓&q=is%3Aopen+label%3A"help+wanted"+label%3A"question").

## Author

The QueryR software has been created and is maintained by Jeroen De Dauw as hobby project.
It is **not maintained by Wikimedia** or Wikimedia Deutchland. The webservice is run by Adam
Shorland and Jeroen De Dauw and is similarly not a WMF/WMDE backed project.

{% endmarkdown %}
{% endblock %}